{% include 'views/others/extends.twig' %}

{% include 'views/others/block.twig' %}

        <h1 class="page-header">{{ entity }} {{ "{{ 'list'|trans }}" }}</h1>

        <table class="records_list table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                {%- for field, metadata in fields %}

                    <th>{{ field|capitalize }}</th>

                {%- endfor %}

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{ '{%- for entity in entities %}' }}

                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif metadata.type in ['date', 'datetime', 'datetimetz', 'time'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                    <td>
                        {%- include "views/others/actions.html.twig" %}
                    </td>

                {%- endif %}
            {%- endfor %}

                </tr>
            {{ '{%- endfor %}' }}

            </tbody>
        </table>

        {%- if 'new' in actions %}

        <a class="btn" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
            <i class="icon-plus-sign"></i>
            {{ "{{ 'create a new entry'|trans|capitalize }}" }}
        </a>

        {%- endif %}

{{ "{% endblock %}" }}
