{% include 'views/others/extends.twig.twig' %}

{% include 'views/others/form_theme.twig.twig' with {'form': 'form'} %}

{% include 'views/others/block.twig.twig' %}

        <h1 class="page-header">{{ entity }} {{ "{{ 'create'|trans }}" }}</h1>

        <form class="form-horizontal" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
            {{ "{{ form_widget(form) }}" }}
            <div class="form-actions">
                <button class="btn" type="submit">
                    <i class="icon-plus-sign"></i>
                    {{ "{{ 'create'|trans|capitalize }}" }}
                </button>
            </div>
        </form>

        {%- set hide_edit, hide_delete = true, true %}
        {%- include 'views/others/record_actions.html.twig.twig' %}

{{ "{% endblock %}" }}
