{{ "{% extends '" ~ toa_twitter_bootstrap.template ~ "' %}" }}
{{ "{% block " ~ toa_twitter_bootstrap.block ~ " %}" }}

<h1 class="page-header">{{ "{{ '" ~ entity ~ "'|trans }}" }}</h1>

<table class="record_properties table table-bordered table-condensed table-striped">
    <tbody>
    {%- for field, metadata in fields %}

        <tr>
            <th>{{ field|capitalize }}</th>

        {%- if metadata.type in ['datetimetz', 'datetime'] %}

            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'date' %}

            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'time' %}

            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'boolean' %}

            <td><i class="{{ '{{ entity.'~ field|replace({'_': ''}) ~' ? \'icon-check\' : \'\' }}' }}"></i></td>

        {%- else %}

            <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

        {%- endif %}

        </tr>

    {%- endfor %}

    </tbody>
</table>

{% set hide_edit, hide_delete = false, false %}
{% include 'views/others/record_actions.html.twig' %}

{{ "{% endblock %}" }}