{% if ('edit' in actions) and (not hide_edit) %}
    <p>
        <a class="btn" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">
            <i class="icon-pencil"></i>
            {{ "{{ 'edit'|trans }}" }}
        </a>
    </p>
{% endif %}

{% if ('delete' in actions) and (not hide_delete) %}
    <form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
        {{ '{{ form_widget(delete_form) }}' }}
        <button class="btn btn-danger" type="submit">
            <i class="icon-trash"></i>
            {{ "{{ 'delete'|trans }}" }}
        </button>
    </form>
{% endif %}

    <a class="btn" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
        <i class="icon-th-list"></i>
        {{ "{{ 'back to the list'|trans }}" }}
    </a>
